.parallax-banner {
  animation: bg-overlay .5s ease-in-out 1 normal forwards;
  @apply flex items-center justify-center h-full w-full;
}

@keyframes :local(bg-overlay) {
  from {
    background-color: rgba(0, 0, 0, 1);
  }
  to {
    background-color: rgba(0, 0, 0, .35);
  }
}
