/* img loading */
.lazy-load-image-background.blur {
  @apply blur-none;
  & > img {
    @apply opacity-0;
  }
}

/* img loaded */
.lazy-load-image-background.blur.lazy-load-image-loaded {
  transition: filter .3s;
  @apply blur-none;
  & > img {
    transition: opacity .3s;
    @apply opacity-100;
  }
}

body > div[aria-label="Zoomed image"], .content-parser {
  .content-image {
    display: flex !important;
  }
}

body > div[aria-label="Zoomed image"] {
  @apply backdrop-blur-sm;
  img {
    @apply rounded-0 bg-white dark:bg-dark-50 !important;
  }
}
