/**
  This files used for custom utility that not provided on Tailwind
*/

@layer base {
  .util--text-shadow {
    text-shadow: 2px 2px 15px #000;
  }

  .util--text-shadow-white {
    text-shadow: 2px 2px 15px #FFF;
  }

  .util--text-shadow-none {
    text-shadow: none;
  }

  .util--underline-dotted {
    text-decoration: underline dotted;
  }
}
