body.mode-dark {
  & {
    background-color: hsl(207, 62%, 14%);
  }

  * {
    color: #fff;
  }

  *[class^="text-primary"] {
    color: #a0ffcf !important;
  }

  a:not(.btn) {
    color: #f3a4b5;
    font-weight: 500;
  }

  input {
    background-color: transparent !important;
  }

  .card, .card-content, .navbar-collapse.show {
    background-color: #37455c;

    &, .card-content-image img {
      box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .02),
        1px 1px 15px 0 rgba(0, 0, 0, .03) !important;
    }

    button.navbar-toggler > span {
      background-color: #fff;
    }

    .card-footer {
      background-color: #374554;
    }
  }

  .collapse-brand .site-title {
    color: #fff;
  }

  .page-item:not(.active) {
    .page-link {
      border-color: transparent;
      background-color: #374554;
    }
  }

  #banner, footer:before {
    background-color: #0f2d44 !important;
  }
}
