body.mode-dark {
  & {
    background-color: hsl(207, 62%, 14%);
  }

  &, h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6,
  .badge, .nav-link,
  .collapse-brand .site-title {
    color: #fff !important;
  }

  a.btn:not([href]):not([tabindex]) {
    svg, path {
      color: #525f7f;
    }
  }

  *[class^="text-primary"] {
    color: #a0ffcf !important;
  }

  a:not(.btn) {
    &, strong, em {
      color: #f3a4b5;
    }
  }

  input {
    background-color: transparent !important;
  }

  hr {
    background-color: #fff;
  }

  .card, .card-content, .navbar-collapse.show {
    background-color: #37455c;

    &, .card-content-image img {
      box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .02),
        1px 1px 15px 0 rgba(0, 0, 0, .03) !important;
    }

    button.navbar-toggler > span {
      background-color: #fff;
    }

    .card-footer {
      background-color: #374554;
    }
  }

  .page-item:not(.active) {
    .page-link {
      border-color: transparent;
      background-color: #374554;
    }
  }

  #banner, footer:before {
    background-color: #0f2d44 !important;
  }
}
