@import "argon/main";
@import "dark";

* {
  transition: all .25s ease-in-out;
  transition-property: box-shadow, background-color, color;
}

.text-smooth {
  font-family: 'Courgette', cursive !important;
}

.text-shadow {
  text-shadow: 2px 2px 15px #000;
}
