@import '~vue-ionicons/ionicons.scss';
@import "argon/main";

* {
  transition: background-color .5s, box-shadow .25s;
}

.content-page {
  .card-content {
    border-radius: 1.25rem;
  }
}

a:not(.btn) {
  font-weight: 500;
}

.text-smooth {
  font-family: 'Courgette', cursive !important;
}

.text-shadow {
  text-shadow: 2px 2px 15px #000;
}

.site-title {
  color: $default;
  font-weight: bold !important;
}

.posts {
  padding-top: 2rem;
}

@media only screen and (max-width: 768px) {
  .posts {
    padding-top: 1.25rem;
  }
}