@import "argon/main";
@import "dark";

* {
  transition: background-color .5s, box-shadow .25s;
}

.text-smooth {
  font-family: 'Courgette', cursive !important;
}

.text-shadow {
  text-shadow: 2px 2px 15px #000;
}

.site-title {
  color: $default;
  font-weight: bold !important;
}
